:root {
    --color-primary-light : hsl(246, 56%, 80%);
    --color-primary : #93329e;
    --color-primary-dark : #440a67;
    --color-grey : #edeef7;
    --color-light : #e4fbff;
    --color-yellow : rgb(255, 238, 2);
}

/* Start UP CSS Part */
* {
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
}

.login {
    background: var(--color-primary-light);
    margin-right: 10px;
    color: var(--color-primary-dark);
    border: 2px solid white;
}

/* Global CSS Part */
.color-primary-dark-bg {
    background: var(--color-primary-dark);
}

.color-primary-bg {
    background: var(--color-primary);
}

.color-primary-light-bg {
    background: var(--color-primary-light);
}

.color-primary {
    color: var(--color-primary);
}

/* Navbar CSS Part */

.navbar {
    background: var(--color-primary);
}

.nav-link {
    color: #fff;
    font-size: 16px;
}

.nav-link:hover {
    color: #fff;
}

li.hvr-underline-reveal:before{
    background: #fff;
}

/* Hero Part */

.hero-edit {
    margin-top: 50px;
    padding-left: 50px;
    object-fit: cover;
    width: 95%;
    height: 100%;
}

.heading-div {
    height: 100px;
}

.custom-button {
    margin-top: 100px;
    border: 2px solid var(--color-primary-dark);
    background: var(--color-primary);
    color: #fff;
    border-radius: 100px;
    font-size: large;
}

.custom-button:hover {
    color: #fff;
    border: 2px solid var(--color-primary);
    background: var(--color-primary-dark);
}
    

/* Top Sale Section */

#top-sale img{
    transition: transform .5s ease;
}

#top-sale img:hover {
    transform: scale(1.1);
    margin-bottom: 5px;
}

/* Special Price */
.grid {
    position: absolute;
    top: 0;
    left: 100px;
}
.grid-item {
    margin-right: 1.2rem;
    margin-top: 1rem;
}